<style> 
    #divclass>h1 {
    color: crimson;}
    #thirdDiv>ul>li>img {
        width: 400px;}
    #thirdDiv {
        height: 600px;
        width: 500px;
        background-color: darkmagenta;
        padding: 50px;
        border-color: blue;
        border-width: 6px;
    }
    #spanid {
        font-size: 18px;
        margin: 50px;
    }
</style>